- https://inclass.kaggle.com/rohitgr/autoencoders-tsne
- https://www.kaggle.com/waydeherman/tutorial-categorical-encoding
- https://www.kaggle.com/waydeherman/categorical-feature-encoding
- https://www.geeksforgeeks.org/ml-extra-tree-classifier-for-feature-selection/

Во набора данных, с которыми Вам предстоит работать, будут содержаться категориальные переменные. Категориальные  переменными, это переменные, которые содержат текствые, а не числовые значения. Например:
- ["мужчина", "женщина"]
- ["из Европы", "из США", "из Азии"]

Некоторые реализации алгоритмов машинного обучения могут работать с категориальными данными напрямую, производя преобразование к числовому виду самостоятельно. Другим же нужно предварительное преобразование категориальныех переменных к числовому виду.

# Данные

In [3]:
import numpy as np
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

In [ ]:
from sklearn.metrics import mean_absolute_error
from sklearn.linear_model import Ridge
from sklearn.ensemble import RandomForestRegressor
import feather
from sklearn.preprocessing import StandardScaler
from sklearn.manifold import TSNE
from sklearn.decomposition import PCA
from sklearn.model_selection import train_test_split

In [55]:
df = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/district_density.csv')
df.head(10).T

,0,1,2,3,4,5,6,7,8,9
Unnamed: 0,1,2,3,4,5,6,7,8,9,10
cd_code,AL-01,AL-02,AL-03,AL-04,AL-05,AL-06,AL-07,AK-AL,AZ-01,AZ-02
cluster,Rural-suburban mix,Pure rural,Pure rural,Pure rural,Rural-suburban mix,Rural-suburban mix,Rural-suburban mix,Pure rural,Pure rural,Dense suburban
region,South,South,South,South,South,South,South,West,West,West
dem_perc,36.8,38.4,36.2,20.1,38.9,30.8,97.8,46.5,53.8,54.7
gop_perc,63.2,61.4,63.7,79.8,61,69.2,0,53.1,46.1,45.2
dem_margin,-26.4,-23,-27.5,-59.6,-22.1,-38.4,97.8,-6.6,7.7,9.5
clinton_margin,-29.2,-31.7,-33,-62.5,-32.9,-43.8,41.2,-14.7,-1.1,4.8
swing,2.8,8.7,5.5,2.9,10.8,5.4,NaN,8.1,8.8,4.7

In [57]:
df['cluster'].unique()

array(['Rural-suburban mix', 'Pure rural', 'Dense suburban',
       'Urban-suburban mix', 'Pure urban', 'Sparse suburban'],
      dtype=object)

In [47]:
df = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/tips.csv')
df.head(16).T

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
total_bill,16.99,10.34,21.01,23.68,24.59,25.29,8.77,26.88,15.04,14.78,10.27,35.26,15.42,18.43,14.83,21.58
tip,1.01,1.66,3.5,3.31,3.61,4.71,2,3.12,1.96,3.23,1.71,5,1.57,3,3.02,3.92
sex,Female,Male,Male,Male,Female,Male,Male,Male,Male,Male,Male,Female,Male,Male,Female,Male
smoker,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No
day,Sun,Sun,Sun,Sun,Sun,Sun,Sun,Sun,Sun,Sun,Sun,Sun,Sun,Sun,Sun,Sun
time,Dinner,Dinner,Dinner,Dinner,Dinner,Dinner,Dinner,Dinner,Dinner,Dinner,Dinner,Dinner,Dinner,Dinner,Dinner,Dinner
size,2,3,3,2,4,4,2,4,2,2,2,4,2,4,2,2

# Бинарное

In [67]:
df = pd.read_csv('https://raw.githubusercontent.com/shri1407/Loan-Prediction-Dataset/master/train.csv')
df.head(11).T

,0,1,2,3,4,5,6,7,8,9,10
Loan_ID,LP001002,LP001003,LP001005,LP001006,LP001008,LP001011,LP001013,LP001014,LP001018,LP001020,LP001024
Gender,Male,Male,Male,Male,Male,Male,Male,Male,Male,Male,Male
Married,No,Yes,Yes,Yes,No,Yes,Yes,Yes,Yes,Yes,Yes
Dependents,0,1,0,0,0,2,0,3+,2,1,2
Education,Graduate,Graduate,Graduate,Not Graduate,Graduate,Graduate,Not Graduate,Graduate,Graduate,Graduate,Graduate
Self_Employed,No,No,Yes,No,No,Yes,No,No,No,No,No
ApplicantIncome,5849,4583,3000,2583,6000,5417,2333,3036,4006,12841,3200
CoapplicantIncome,0,1508,0,2358,0,4196,1516,2504,1526,10968,700
LoanAmount,NaN,128,66,120,141,267,95,158,168,349,70
Loan_Amount_Term,360,360,360,360,360,360,360,360,360,360,360
Credit_History,1,1,1,1,1,1,1,0,1,1,1
Property_Area,Urban,Rural,Urban,Urban,Urban,Urban,Urban,Semiurban,Urban,Semiurban,Urban
Loan_Status,Y,N,Y,Y,Y,Y,Y,N,Y,N,Y

In [68]:
df['Gender'] = df['Gender'].map({'Male':0,'Female':1})
df['Married'] = df['Married'].map({'No':0,'Yes':1})
df['Loan_Status'] = df['Loan_Status'].map({'N':0,'Y':1})

df.head(11).T

,0,1,2,3,4,5,6,7,8,9,10
Loan_ID,LP001002,LP001003,LP001005,LP001006,LP001008,LP001011,LP001013,LP001014,LP001018,LP001020,LP001024
Gender,0,0,0,0,0,0,0,0,0,0,0
Married,0,1,1,1,0,1,1,1,1,1,1
Dependents,0,1,0,0,0,2,0,3+,2,1,2
Education,Graduate,Graduate,Graduate,Not Graduate,Graduate,Graduate,Not Graduate,Graduate,Graduate,Graduate,Graduate
Self_Employed,No,No,Yes,No,No,Yes,No,No,No,No,No
ApplicantIncome,5849,4583,3000,2583,6000,5417,2333,3036,4006,12841,3200
CoapplicantIncome,0,1508,0,2358,0,4196,1516,2504,1526,10968,700
LoanAmount,NaN,128,66,120,141,267,95,158,168,349,70
Loan_Amount_Term,360,360,360,360,360,360,360,360,360,360,360
Credit_History,1,1,1,1,1,1,1,0,1,1,1
Property_Area,Urban,Rural,Urban,Urban,Urban,Urban,Urban,Semiurban,Urban,Semiurban,Urban
Loan_Status,1,0,1,1,1,1,1,0,1,0,1

# Label encoding

LE (label encoding) is the most simple. We have some categories (country for example) ['Russia', 'USA', 'GB']. But algoritms do not work with strings, they need numbers. Ok, we can do it ['Russia', 'USA', 'GB'] -> [0, 1, 2]. Relly simple. Let's try.

In [71]:
df = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/district_density.csv', index_col=0)
df.head(10).T

,1,2,3,4,5,6,7,8,9,10
cd_code,AL-01,AL-02,AL-03,AL-04,AL-05,AL-06,AL-07,AK-AL,AZ-01,AZ-02
cluster,Rural-suburban mix,Pure rural,Pure rural,Pure rural,Rural-suburban mix,Rural-suburban mix,Rural-suburban mix,Pure rural,Pure rural,Dense suburban
region,South,South,South,South,South,South,South,West,West,West
dem_perc,36.8,38.4,36.2,20.1,38.9,30.8,97.8,46.5,53.8,54.7
gop_perc,63.2,61.4,63.7,79.8,61,69.2,0,53.1,46.1,45.2
dem_margin,-26.4,-23,-27.5,-59.6,-22.1,-38.4,97.8,-6.6,7.7,9.5
clinton_margin,-29.2,-31.7,-33,-62.5,-32.9,-43.8,41.2,-14.7,-1.1,4.8
swing,2.8,8.7,5.5,2.9,10.8,5.4,NaN,8.1,8.8,4.7

## Ручное

In [ ]:
autor_to_int = dict((zip(train_df.author.unique(), range(train_df.author.unique().shape[0]))))
domain_to_int = dict((zip(train_df.domain.unique(), range(train_df.domain.unique().shape[0]))))
lang_to_int = dict((zip(train_df.lang.unique(), range(train_df.lang.unique().shape[0]))))
train_df_le = train_df.copy()

## Библиотека

In [44]:
df['Classification'].unique()

array(['Alcohol and Drug Use', 'Blood Diseases', 'Circulatory System'],
      dtype=object)

In [1]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
le.fit(["paris", "paris", "tokyo", "amsterdam"])

list(le.classes_)
['amsterdam', 'paris', 'tokyo']
le.transform(["tokyo", "tokyo", "paris"])

array([2, 2, 1], dtype=int64)

In [2]:
list(le.inverse_transform([2, 2, 1]))
['tokyo', 'tokyo', 'paris']

['tokyo', 'tokyo', 'paris']

Даже категориальные фичи представленные целыми числами имеют те же недостатки. 2 > 1.

# Frequncy Encoding

# One-Hot Encoding

We can treat category as the thing on its own. ['Russia', 'USA', 'GB'] will convert to 3 features, each of which would take value 0 or 1.

This way we can treat features independently, but cardinality blows up.

In [ ]:
from sklearn import preprocessing

enc = preprocessing.OneHotEncoder()
X = [['male', 'from US', 'uses Safari'], ['female', 'from Europe', 'uses Firefox']]
enc.fit(X)

In [ ]:
enc.transform([['female', 'from US', 'uses Safari'],['male', 'from Europe', 'uses Safari']]).toarray()

In [ ]:
train_df_ohe = train_df.copy()
y = train_df_ohe.log_recommends
X = train_df_ohe.drop('log_recommends', axis=1)
X[X.columns] = X[X.columns].astype('category')
X = pd.get_dummies(X, prefix=X.columns)

In [ ]:
Корелирумые фичи плохи для линейных моделей...

https://www.kaggle.com/mahendrabishnoi2/06-intermediate-ml/data

# Categorical embeddings

Датасет медиум

You already knew everything that was above.

Now it's time to try something new. We'll look at NN approach to categorical variables.

In kaggle competitions, we can see, that in competitions with heavy use of categorical data tree ensembling methods work the best (XGBoost). Why in ages of rising NN they still haven't conquered this area?<br>
In principle a neural network can approximate any continuous function and piecewise continuous function. However, it is not suitable to approximate arbitrary non-continuous functions as it assumes a certain level of continuity in its general form. During the training phase the continuity of the data guarantees the convergence of the optimization, and during the prediction phase it ensures that slightly changing the values of the input keeps the output stable.<br>
Trees don't have this assumption about data continuity and can divide the states of a variable as fine as necessary.

NN is somehow close to the linear model. What have we done to linear model? We used OHE, but it blew our dimensionality. For many real-world tasks when features may have cardinality about millions it would be harder. Secondly, we've lost some information with such a transformation. In our example, we have language as a feature. When we are converting "SPANISH" -> [1,0,0,...,0] and when "ENGLISH" -> [0,1,0,...,0]. Both languages have the same distance between each other, but there is no doubts Spanish and English are more similar than English and Chinese. We want to get this inner relation.

The solution to these problems is to use <b>embeddings</b>, which translate large sparse vectors into a lower-dimensional space that preserves semantic relationships.

How it works in NLP field:

| feature | vector   |
|------|------|
| puppy | [0.9, 1.0, 0.0]   |
|   dog  | [1.0, 0.2, 0.0]|
|   kitten  | [0.0, 1.0, 0.9]|
|   cat  | [0.0, 0.2, 1.0]|

We see words share some values, that we can consider as "dogness" or "size".

To do this, all we need is the matrix of embeddings.

At the start, we are applying OHE and obtaining N rows with M columns. Where m is a category value. Then we picking row that encodes our category from the embedding matrix. Further we using this vector that repsents some rich properties of our initial category.  
We can obtain embeddings with NN magic. We are training embedding matrix with the size of MxP where P is number which we are picking (hyperparameter). Google's heuristic says us to pick M**0.25

<img src='https://habrastorage.org/webt/of/jy/gd/ofjygd5fmbpxwz8x6boeu2nnpk4.png' />

I'll use keras, but it's not important it's just a tool.

In [ ]:
import numpy as np
import pandas as pd
import numpy as np
import pandas as pd
import keras
from keras.models import Sequential
from keras.layers import Dense, BatchNormalization
from keras.layers import Input, Embedding, Dense, Dropout
from keras.models import Model
import matplotlib.pyplot as plt

class EmbeddingMapping():
    """
    Helper class for handling categorical variables
    An instance of this class should be defined for each categorical variable we want to use.
    """
    def __init__(self, series):
        # get a list of unique values
        values = series.unique().tolist()
        
        # Set a dictionary mapping from values to integer value
        self.embedding_dict = {value: int_value+1 for int_value, value in enumerate(values)}
        
        # The num_values will be used as the input_dim when defining the embedding layer. 
        # It will also be returned for unseen values 
        self.num_values = len(values) + 1

    def get_mapping(self, value):
        # If the value was seen in the training set, return its integer mapping
        if value in self.embedding_dict:
            return self.embedding_dict[value]
        # Else, return the same integer for unseen values
        else:
            return self.num_values


#converting some out features
author_mapping = EmbeddingMapping(train_df['author'])
domain_mapping = EmbeddingMapping(train_df['domain'])
lang_mapping = EmbeddingMapping(train_df['lang'])
X_emb = X_emb.assign(author_mapping=X_emb['author'].apply(author_mapping.get_mapping))
X_emb = X_emb.assign(lang_mapping=X_emb['lang'].apply(lang_mapping.get_mapping))
X_emb = X_emb.assign(domain_mapping=X_emb['domain'].apply(domain_mapping.get_mapping))

In [ ]:
X_emb.sample(1)

In [ ]:
X_emb = train_df.copy()

X_train, X_val,y_train,y_val = train_test_split(X_emb,y, test_size=0.2)

# Keras functional API
#Input
author_input = Input(shape=(1,), dtype='int32') 
lang_input = Input(shape=(1,), dtype='int32')
domain_input = Input(shape=(1,), dtype='int32')

# It's google's fule of thumb N_embeddings == N_originall_dim**0.25
# Let’s define the embedding layer and flatten it
# Originally 31331 unique authors
author_embedings = Embedding(output_dim=13, input_dim=author_mapping.num_values, input_length=1)(author_input)
author_embedings = keras.layers.Reshape((13,))(author_embedings)
# Originally 62 unique langs
lang_embedings = Embedding(output_dim=3, input_dim=lang_mapping.num_values, input_length=1)(lang_input)
lang_embedings = keras.layers.Reshape((3,))(lang_embedings)
# Originally 221 unique domains
domain_embedings = Embedding(output_dim=4, input_dim=domain_mapping.num_values, input_length=1)(domain_input)
domain_embedings = keras.layers.Reshape((4,))(domain_embedings)


# Concatenate continuous and embeddings inputs
all_input = keras.layers.concatenate([lang_embedings, author_embedings, domain_embedings])

# Fully connected layer to train NN and learn embeddings
units=25
dense1 = Dense(units=units, activation='relu')(all_input)
dense1 = Dropout(0.5)(dense1)
dense2 = Dense(units, activation='relu')(dense1)
dense2 = Dropout(0.5)(dense2)
predictions = Dense(1)(dense2)

epochs = 40
model = Model(inputs=[lang_input, author_input, domain_input], outputs=predictions)
model.compile(loss='mae', optimizer='adagrad')

history = model.fit([X_train['lang_mapping'], X_train['author_mapping'], X_train['domain_mapping']], y_train, 
          epochs=epochs, batch_size=128, verbose=0,
          validation_data=([X_val['lang_mapping'], X_val['author_mapping'], X_val['domain_mapping']], y_val))

At this step, we've trained a NN, but we are not going to use it. We want to get the embeddings layer.

For each category, we have distinct embedding. Let's extract them and use it in our simple models.

In [ ]:
model.layers

In [ ]:
model.layers[5].get_weights()[0].shape

In [ ]:
lang_embedding = model.layers[3].get_weights()[0]
lang_emb_cols = [f'lang_emb_{i}' for i in range(lang_embedding.shape[1])]

author_embedding = model.layers[4].get_weights()[0]
aut_emb_cols = [f'aut_emb_{i}' for i in range(author_embedding.shape[1])]

domain_embedding = model.layers[5].get_weights()[0]
dom_emb_cols = [f'dom_emb_{i}' for i in range(domain_embedding.shape[1])]

Now we have embeddings, and all we need is to take a row that corresponds to our examples.

In [ ]:
def get_author_vector(aut_num):
    return author_embedding[aut_num,:]
def get_lang_vector(lang_num):
    return lang_embedding[lang_num,:]
def get_domain_vector(dom_num):
    return domain_embedding[dom_num,:]

In [ ]:
get_lang_vector(4)

In [ ]:
lang_emb = pd.DataFrame(X_emb['lang_mapping'].apply(get_lang_vector).values.tolist(), columns=lang_emb_cols)
lang_emb.index = X_emb.index
X_emb[lang_emb_cols] = lang_emb

aut_emb = pd.DataFrame(X_emb['author_mapping'].apply(get_author_vector).values.tolist(), columns=aut_emb_cols)
aut_emb.index = X_emb.index
X_emb[aut_emb_cols] = aut_emb

dom_emb = pd.DataFrame(X_emb['domain_mapping'].apply(get_domain_vector).values.tolist(), columns=dom_emb_cols)
dom_emb.index = X_emb.index
X_emb[dom_emb_cols] = dom_emb

X_emb.drop(['author', 'lang', 'domain', 'log_recommends',
           'author_mapping', 'lang_mapping', 'domain_mapping',],axis=1, inplace=True)

X_emb.columns

X_train, X_val,y_train,y_val = train_test_split(X_emb,y, test_size=0.2)

In [ ]:
rf = RandomForestRegressor(n_jobs=-1)
rf.fit(X_train, y_train)
preds = rf.predict(X_val)
mean_absolute_error(y_val, preds)

In [ ]:
ridge = Ridge()
ridge.fit(X_train, y_train)
preds = ridge.predict(X_val)
mean_absolute_error(y_val, preds)

It seems like a success.

One nice property of embeddings - our categories have some simularity(distance) from each other. Let's look at the graph.

In [ ]:
import bokeh.models as bm, bokeh.plotting as pl
from bokeh.io import output_notebook
output_notebook()

def draw_vectors(x, y, radius=10, alpha=0.25, color='blue',
                 width=600, height=400, show=True, **kwargs):
    """ draws an interactive plot for data points with auxilirary info on hover """
    if isinstance(color, str): color = [color] * len(x)
    data_source = bm.ColumnDataSource({ 'x' : x, 'y' : y, 'color': color, **kwargs })

    fig = pl.figure(active_scroll='wheel_zoom', width=width, height=height)
    fig.scatter('x', 'y', size=radius, color='color', alpha=alpha, source=data_source)

    fig.add_tools(bm.HoverTool(tooltips=[(key, "@" + key) for key in kwargs.keys()]))
    if show: pl.show(fig)
    return fig

In [ ]:
langs_vectors = [get_lang_vector(l) for l in lang_mapping.embedding_dict.values()]

lang_tsne = TSNE().fit_transform(langs_vectors )

In [ ]:
draw_vectors(lang_tsne[:, 0], lang_tsne[:, 1], token=list(lang_mapping.embedding_dict.keys()))

In [ ]:
langs_vectors_pca = PCA(n_components=2).fit_transform(langs_vectors)

In [ ]:
draw_vectors(langs_vectors_pca[:, 0], langs_vectors_pca[:, 1], token=list(lang_mapping.embedding_dict.keys()))

This time graphs doesn't look any meaningfull, but score speaks for itself.

# Feature transformations with ensembles of trees

Transform your features into a higher dimensional, sparse space. Then train a linear model on these features.

First fit an ensemble of trees (totally random trees, a random forest, or gradient boosted trees) on the training set. Then each leaf of each tree in the ensemble is assigned a fixed arbitrary feature index in a new feature space. These leaf indices are then encoded in a one-hot fashion.

Each sample goes through the decisions of each tree of the ensemble and ends up in one leaf per tree. The sample is encoded by setting feature values for these leaves to 1 and the other feature values to 0.

The resulting transformer has then learned a supervised, sparse, high-dimensional categorical embedding of the data.

In [ ]:
import numpy as np
np.random.seed(10)

import matplotlib.pyplot as plt

from sklearn.datasets import make_classification
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import (RandomTreesEmbedding, RandomForestClassifier,
                              GradientBoostingClassifier)
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_curve
from sklearn.pipeline import make_pipeline

n_estimator = 10
X, y = make_classification(n_samples=80000)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.5)

# It is important to train the ensemble of trees on a different subset
# of the training data than the linear regression model to avoid
# overfitting, in particular if the total number of leaves is
# similar to the number of training samples
X_train, X_train_lr, y_train, y_train_lr = train_test_split(
    X_train, y_train, test_size=0.5)

# Unsupervised transformation based on totally random trees
rt = RandomTreesEmbedding(max_depth=3, n_estimators=n_estimator,
                          random_state=0)

rt_lm = LogisticRegression(solver='lbfgs', max_iter=1000)
pipeline = make_pipeline(rt, rt_lm)
pipeline.fit(X_train, y_train)
y_pred_rt = pipeline.predict_proba(X_test)[:, 1]
fpr_rt_lm, tpr_rt_lm, _ = roc_curve(y_test, y_pred_rt)

# Supervised transformation based on random forests
rf = RandomForestClassifier(max_depth=3, n_estimators=n_estimator)
rf_enc = OneHotEncoder(categories='auto')
rf_lm = LogisticRegression(solver='lbfgs', max_iter=1000)
rf.fit(X_train, y_train)
rf_enc.fit(rf.apply(X_train))
rf_lm.fit(rf_enc.transform(rf.apply(X_train_lr)), y_train_lr)

y_pred_rf_lm = rf_lm.predict_proba(rf_enc.transform(rf.apply(X_test)))[:, 1]
fpr_rf_lm, tpr_rf_lm, _ = roc_curve(y_test, y_pred_rf_lm)

# Supervised transformation based on gradient boosted trees
grd = GradientBoostingClassifier(n_estimators=n_estimator)
grd_enc = OneHotEncoder(categories='auto')
grd_lm = LogisticRegression(solver='lbfgs', max_iter=1000)
grd.fit(X_train, y_train)
grd_enc.fit(grd.apply(X_train)[:, :, 0])
grd_lm.fit(grd_enc.transform(grd.apply(X_train_lr)[:, :, 0]), y_train_lr)

y_pred_grd_lm = grd_lm.predict_proba(
    grd_enc.transform(grd.apply(X_test)[:, :, 0]))[:, 1]
fpr_grd_lm, tpr_grd_lm, _ = roc_curve(y_test, y_pred_grd_lm)

# The gradient boosted model by itself
y_pred_grd = grd.predict_proba(X_test)[:, 1]
fpr_grd, tpr_grd, _ = roc_curve(y_test, y_pred_grd)

# The random forest model by itself
y_pred_rf = rf.predict_proba(X_test)[:, 1]
fpr_rf, tpr_rf, _ = roc_curve(y_test, y_pred_rf)

plt.figure(1)
plt.plot([0, 1], [0, 1], 'k--')
plt.plot(fpr_rt_lm, tpr_rt_lm, label='RT + LR')
plt.plot(fpr_rf, tpr_rf, label='RF')
plt.plot(fpr_rf_lm, tpr_rf_lm, label='RF + LR')
plt.plot(fpr_grd, tpr_grd, label='GBT')
plt.plot(fpr_grd_lm, tpr_grd_lm, label='GBT + LR')
plt.xlabel('False positive rate')
plt.ylabel('True positive rate')
plt.title('ROC curve')
plt.legend(loc='best')
plt.show()

plt.figure(2)
plt.xlim(0, 0.2)
plt.ylim(0.8, 1)
plt.plot([0, 1], [0, 1], 'k--')
plt.plot(fpr_rt_lm, tpr_rt_lm, label='RT + LR')
plt.plot(fpr_rf, tpr_rf, label='RF')
plt.plot(fpr_rf_lm, tpr_rf_lm, label='RF + LR')
plt.plot(fpr_grd, tpr_grd, label='GBT')
plt.plot(fpr_grd_lm, tpr_grd_lm, label='GBT + LR')
plt.xlabel('False positive rate')
plt.ylabel('True positive rate')
plt.title('ROC curve (zoomed in at top left)')
plt.legend(loc='best')
plt.show()

# Cat2Vec

In [ ]:
Медиум

Another approach came from NLP is word2Vec that was renamed to Cat2Vec. It haven't firm confirmation about it's usefulness, but there are some papers that argue that. (Links below).

Distributional semantics and John Rupert Firth says "You shall know a word by the company it keeps". Some words share the same context, so they are somehow similar. We can suggest, that categories may share some inner correlation by they co-occurrence. For example weather and city. Maybe city "Philadelphia" may be similar to weather "always sunny", or "Moskow" with "snowy".

Firstly we applying Feature encoding, then we can make "sentence" from our row.

In the example below, let's imagine we have an article at "Monday January 2018 English_language Medium.com" Here our sentence so maybe if English co-occurs with Medium more often then Chinese with hackernoon.com. (Poor consideration but just for example).

The only consideration is "word" order. Word2Vec relays on order, fro categorical "sentence" it doesn't matter, so it's better to shuffle sentences.

Let's implement it.

In [ ]:
X_w2v = train_df.copy()

month_int_to_name = {1:'jan',2:'feb',3:'apr',4:'march',5:'may',6:'june',7:'jul',8:'aug',9:'sept',10:'okt',11:'nov',12:'dec',}
weekday_int_to_day = {0:'mon',1:'thus',2:'wen',3:'thusd',4:'fri',5:'sut',6:'sun',}

working_day_int_to_day = {1: 'work',0:'not_work'}

working_day_int_to_day = {1: 'work',0:'not_work'}
X_w2v.weekday = X_w2v.weekday.apply(lambda x : weekday_int_to_day[x])
X_w2v.working_day = X_w2v.working_day.apply(lambda x : working_day_int_to_day[x])

all_list = list()
for ind, r in X_w2v.iterrows():
    values_list = [str(val).replace(' ', '_') for val in r.values]
    all_list.append(values_list)
    
from gensim.models import Word2Vec
model = Word2Vec(all_list, 
                 size=32,      # embedding vector size
                 min_count=5,  # consider words that occured at least 5 times
                 window=5).wv

In [ ]:
model.most_similar('june')

In [ ]:
words = sorted(model.vocab.keys(), 
               key=lambda word: model.vocab[word].count,
               reverse=True)[:1000]

print(words[::100])

In [ ]:
word_vectors = np.array([model.get_vector(wrd) for wrd in words])

Draw a graph as usual

In [ ]:
word_tsne = TSNE().fit_transform(word_vectors )

draw_vectors(word_tsne[:, 0], word_tsne[:, 1], color='green', token=words)

Our categories mingled, but we can notice that years, days, languages are stays apart from authors cloud.

In [ ]:
def get_phrase_embedding(phrase):
    """
    Convert phrase to a vector by aggregating it's word embeddings. See description above.
    """
    # 1. lowercase phrase
    # 2. tokenize phrase
    # 3. average word vectors for all words in tokenized phrase
    # skip words that are not in model's vocabulary
    # if all words are missing from vocabulary, return zeros
    
    vector = np.zeros([model.vector_size], dtype='float32')
    word_count = 0
    
    for word in phrase.split():
        if word in model.vocab:
            vector += model.get_vector(word)
            word_count += 1
    
    if word_count:
        vector /= word_count
        
            
    
    return vector

In [ ]:
new_features = list()
for ph in all_list:
    vector = get_phrase_embedding(' '.join(ph))
    new_features.append(vector)
    

new_features = pd.DataFrame(new_features)
new_features.index = X_w2v.index
X_w2v = pd.concat([X_w2v,new_features],axis=1
         )

In [ ]:
X_w2v.drop(['author','domain','lang','working_day','year','month','weekday','log_recommends'], axis=1, inplace = True)

X_train, X_val,y_train,y_val = train_test_split(X_w2v,y, test_size=0.2)

In [ ]:
rf = RandomForestRegressor(n_jobs=-1)
rf.fit(X_train, y_train)
preds = rf.predict(X_val)
mean_absolute_error(y_val, preds)

In [ ]:
ridge = Ridge()
ridge.fit(X_train, y_train)
preds = ridge.predict(X_val)
mean_absolute_error(y_val, preds)

Poor result, but I cutted a lot of features that could help this algorithm to word.

https://arxiv.org/ftp/arxiv/papers/1603/1603.04259.pdf ITEM2VEC: NEURAL ITEM EMBEDDING FOR COLLABORATIVE FILTERING<br>
https://openreview.net/pdf?id=HyNxRZ9xg CAT2VEC: LEARNING DISTRIBUTED REPRESENTATION OF MULTI-FIELD CATEGORICAL DATA<br>
https://arxiv.org/pdf/1604.06737v1.pdf Entity Embeddings of Categorical Variables<br>
https://developers.google.com/machine-learning/crash-course/embeddings/video-lecture Embeddings<br>

# target encoding

Второе.
К тебе в задачу обязательно закрадутся сучьи категориальные признаки, вот самые популярные методы их поиметь, так же как жизнь поимела тебя
https://www.datacamp.com/community/tutorials/categorical-data